{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
         <!--     <span class="section-heading-upper">Tradición familiar italiana</span> -->
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Fundada en 2020 operando en el estado de Tlaxcala. Nos dedicamos principalmete al desarrollo web y móvil, además de brindar soporte técnico</p>
            <p>Nuestro equipo de trabajo esta formado por estudiantes de Ingeniería en Tecnologías de la Información provenientes de la Universidad Tecnologíca. Contando tambíén con 
            grandes Master tanto en Desarrollo Web y Administración de Proyectos. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}